.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(1, 120, 120);
    color: bisque;
    padding: 8px;
 }

.right-links {
    display: flex;
    flex-direction: row;
    justify-self: space-between;
    gap: 50px;
    list-style-type: none;
}
.right-links a {
    color: bisque;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Left-logo {
    display: flex;
    width: 150px;
    height: 150px;
    
}

.Left-logo img {
    
}

.Title {
    display:flex;
    justify-content: space-around;
    background-color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;

    
}

.Info {
    display:flex;
    flex-direction:column;
    align-self: center;
    color: beige;
    width: 250px;
    height: 250px;
    
 

    
}

.button {
    align-self: flex-start;
    background-color: rgb(6, 90, 90);
    color: beige;
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 8px; }

    

 .img {
    border-radius: 50px;
    width: 250px;
    height: 300px;
    padding: 10px;
    padding-top: 50px;
 }

 .img img {
    width: 250px;
    height: 300px;
    border-radius: 50px;
    
 }



.RandomInfo {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color:rgb(243, 219, 189);
    background-color: rgb(6, 90, 90);
    padding-top:25px;
    padding-bottom: 40px;
}

.Container {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 80px;
    background-color:rgb(6, 90, 90);
    color:bisque;
    padding-left: 250px;
    padding-right: 250px;

}



.Img img, .imgtwo img,.imgthree img, .imgfour img {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center; 
    padding-top: 15px;}

.Containera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 205, 188);
    color: black;
    
}

.quote {
    display: flex;
    height: 200px;
    width: 650px;
    padding-top: 100px;
    font-style: italic;
    font-size: xx-large;
    
}

.Containerb {
    display: flex;
    justify-content: space-around;
    background-color: darkcyan;
    
    gap:50px;
}

.Call {
    color: bisque;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  rgb(6, 90, 90);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 15px;

}
.buttonb {
    display: flex;
    align-self: center;
    background: rgb(6, 90, 90);
    color: beige;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.b {
    width: 175px;
    height: 75px;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(6, 90, 90);
    background-color: rgb(218, 205, 188);
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(10, 99, 99);
    padding: 15px;
}